@import '~@angular/material/theming';

$fontMain: 'Roboto', sans-serif;
$fontAlt: 'Roboto', sans-serif;

$_primary: mat-color($mat-green, 500);
$_accent: mat-color($mat-blue, 400);
$_warn: mat-color($mat-red, 400);

$colors: (
  primary: $_primary,
  accent: $_accent,
  warn: $_warn,
  mainText: mat-color($mat-grey, 800),
  identityAlpha: #009193,
  identityBeta: #e4ba03,
  identityGamma: #007aee
);

$backgrounds: (
  main: #f2f2f2
);

$themeColors: (
  primary: mat-palette($mat-green, 600),
  accent: mat-palette($mat-blue, A200, A100, A400),
  warn: mat-palette($mat-red)
);

$appTheme: mat-light-theme(
  map-get($themeColors, primary),
  map-get($themeColors, accent),
  map-get($themeColors, warn)
);