@import 'toolkit';

h1, h2, h3, h4, .t-h1, .t-h2, .t-h3, .t-h4, h5, .t-h5 {
  margin: 0;
  padding: 0;
  font-family: $fontAlt;
}

h1, .t-h1 {
  font-size: 54px;
  line-height: 1.45em;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-left: -0.08em;

  @media only screen and (max-width: 700px) {
    font-size: 43px;
  }

  @media only screen and (max-width: 599px) {
    font-size: 35px;
  }

}

h2, .t-h3 {
  line-height: 1.5em;

  @media only screen and (max-width: 599px) {
    font-size: 1.25em;
  }
}

h3, .t-h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
}

h4, .t-h4 {
  line-height: 1.5em;
  padding-bottom: $bu / 2;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

h5, .t-h5 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  color: color(copy);
  text-decoration: none;
}

.p-desc {
  font-size: 1.1em;
  line-height: 2.3em;
}
